/* CORRECT AND NOT CORRECT DIRECTION */
/* STANDARD */
@keyframes correct {
    from { box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.8) inset; }
    to { box-shadow: 0px 0px 40px rgba(255, 255, 255, 0) inset; }
}

@keyframes notCorrect {
    from { box-shadow: 0px 0px 40px rgba(255, 255, 255, 0) inset; }
    to { box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.8) inset; }
}
/* WEBKIT */
@-webkit-keyframes correct {
    from { -webkit-box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.8) inset; }
    to { -webkit-box-shadow: 0px 0px 40px rgba(255, 255, 255, 0) inset; }
}

@-webkit-keyframes notCorrect {
    from { -webkit-box-shadow: 0px 0px 40px rgba(255, 255, 255, 0) inset; }
    to { -webkit-box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.8) inset; }
}
/* FIREFOX */
@-moz-keyframes correct {
    from { -moz-box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.8) inset; }
    to { -moz-box-shadow: 0px 0px 40px rgba(255, 255, 255, 0) inset; }
}

@-moz-keyframes notCorrect {
    from { -moz-box-shadow: 0px 0px 40px rgba(255, 255, 255, 0) inset; }
    to { -moz-box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.8) inset; }
}
/* MICROSOFT */
@-ms-keyframes correct {
    from { -ms-box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.8) inset; }
    to { -ms-box-shadow: 0px 0px 40px rgba(255, 255, 255, 0) inset; }
}

@-ms-keyframes notCorrect {
    from { -ms-box-shadow: 0px 0px 40px rgba(255, 255, 255, 0) inset; }
    to { -ms-box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.8) inset; }
}

/* SLIDE POP UPS */
/* STANDARD */
@keyframes slideUp {
    from { 
        top: 100vh;
        opacity: 0.5;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* WEBKIT */
@-webkit-keyframes slideUp {
    from { 
        top: 100vh;
        opacity: 0.5;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* FIREFOX */
@-moz-keyframes slideUp {
    from { 
        top: 100vh;
        opacity: 0.5;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* MICROSOFT */
@-ms-keyframes slideUp {
    from { 
        top: 100vh;
        opacity: 0.5;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* MENU BUTTONS */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1;}
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1;}
}

@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1;}
}

@-ms-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1;}
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cloister';
    font-style: normal;
    font-size: 20px;

    background: #565656;
}
/* THE MENU AND CLOSE BUTTONS*/
div#menu-button {
    z-index: 9999;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

div.close-button {
    z-index: 9999;
    position: fixed;
    top: 30px;
    right: 30px;
}

div#menu-button, div.close-button {
    cursor: pointer;

    width: 44px;
    height: 44px;

    border-radius: 50% !important;
    background: #FFF !important;
    border: 1px solid #565656;
}

div#menu {
    z-index: 9999;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    padding: 20px;
}

div#menu > div {
    -webkit-animation: fadeIn 0.25s ease-out;
    -moz-animation: fadeIn 0.25s ease-out;
    -ms-animation: fadeIn 0.25s ease-out;
    -o-animation: fadeIn 0.25s ease-out;
    animation: fadeIn 0.25s ease-out;

    margin-bottom: 10px;
}

div#menu div {
    font-style: italic;
    font-size: 32px;
    text-align: center;
    color: #565656;

    padding: 20px;

    border-radius: 4px;
    background: #FFF;
    border: 1px solid #565656;
}

/* THE GUIDE */
div#guide {
    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);

    /* background-image: linear-gradient(180deg, rgba(255, 230, 0, .5), rgba(255, 255, 255, .5) 50%, rgba(0, 71, 255, .5) 100%); */
    /* background-image: linear-gradient(180deg, #9EDCFF 0%, #FFF 50%, #92FFB0 100%); */
    background-image: url('../assets/img/1/small.jpg');
    background-position: center;
    background-size: calc(var(--vh, 1vh) * 100);
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div#title, div#direction, div#distance {
    font-style: italic;
    font-size: 32px;
}

div#title {
    margin: 20px;
}

div#direction {
    text-align: center;
    margin: 0 auto;

    vertical-align: middle;
    line-height: 300px;

    width: 300px;
    height: 300px;

    border-radius: 50%;
    /* background-image: linear-gradient(180deg, #9EDCFF 0%, #FFF 50%, #92FFB0 100%); */
    background-image: url('../assets/img/1/small.jpg');
    background-position: center;
    background-size: calc(var(--vh, 1vh) * 100);
    background-repeat: no-repeat;

    /* Keep it in the center even if the title is so big */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* DIRECTION BUBBLE */
div.correct {
    -webkit-animation: correct 1s;
    -moz-animation: correct 1s;
    -ms-animation: correct 1s;
    -o-animation: correct 1s;
    animation: correct 1s;

    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0) inset;
}

div.notCorrect {
    -webkit-animation: notCorrect 1s;
    -moz-animation: notCorrect 1s;
    -ms-animation: notCorrect 1s;
    -o-animation: notCorrect 1s;
    animation: notCorrect 1s;

    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.8) inset;
}

div#distance {
    text-align: center;
    margin: 20px;
}

span#press-to-start {
    -webkit-animation: fadeIn 1s infinite alternate-reverse ease-in-out;
    -moz-animation: fadeIn 1s infinite alternate-reverse ease-in-out;
    -ms-animation: fadeIn 1s infinite alternate-reverse ease-in-out;
    -o-animation: fadeIn 1s infinite alternate-reverse ease-in-out;
    animation: fadeIn 1s infinite alternate-reverse ease-in-out;
}

/* POP UPS CONTENT */
.popup {
    z-index: 99;

    -webkit-animation: slideUp 0.75s forwards;
    -moz-animation: slideUp 0.75s forwards;
    -ms-animation: slideUp 0.75s forwards;
    -o-animation: slideUp 0.75s forwards;
    animation: slideUp 0.75s forwards;

    position: absolute;
    top: 0;
    padding: 20px;
}

/* INNER BOX */
div.popup > div {
    border-radius: 4px;
    background: #FFF;
    border: 1px solid #565656;
    padding: 20px;
}

div.popup p {
    margin-bottom: 20px;
    color: #565656;
}

p.popup-title {
    font-size: 24px;
    font-style: italic;
    text-align: center;
}

.popup-button {
    font-family: 'Cloister';
    font-style: italic;
    font-size: 24px;
    color: #565656;

    cursor: pointer;

    border: 1px solid #565656;
    background: #FFF;
    
    margin: 0 auto;
    text-align: center;
    display: block;

    border-radius: 4px;
    padding: 10px 20px;
}

/* POP-UP CONTENT */
video {
    width: 100% !important;
    height: auto !important;

    border-radius: 4px;
}

div.caption {
    font-style: italic;
    text-align: center;
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
}

/* HAMBURGER MENU ICON */

/* Icon 3 */

.hamburguer {
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
  
.hamburguer span {
    display: block;
    position: absolute;
    height: 1px;
    width: 24px;
    background: #565656;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
  

.hamburguer span:nth-child(1) {
    top: 10px;
    left: 10px;
}
  
.hamburguer span:nth-child(2),.hamburguer span:nth-child(3) {
    top: 20px;
    left: 10px;
}

.hamburguer span:nth-child(4) {
    top: 30px;
    left: 10px;
}

.hamburguer.open span:nth-child(1) {
    top: 20px;
    width: 0%;
    left: 22px;
}

.hamburguer.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburguer.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hamburguer.open span:nth-child(4) {
    top: 20px;
    width: 0%;
    left: 22px;
}